extends layout 

block content
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                a(href='/') Home
            li.breadcrumb-item
                a(href='/categories') Categories
            li.breadcrumb-item
                a(href='/categories/parent/' + breadcrumbId) #{breadcrumbId}                
            li.breadcrumb-item.active(aria-current='page') #{productId}    
    ul(style='list-style-type:none')
        .oneSubCategorie.p-3.mb-3.bg-dark.text-white.rounded
            each val in products
                h3= val.image_groups[0].images[0].title
                img(src='../../images/' + val.image_groups[0].images[0].link)
                p= val.short_description
                if val.currency == 'USD'
                    p Price: $ #{val.price}
                a(href='/products/product_search?id=' + val.master.master_id)
                    input(type='button' value='More Info')
                br

            // val.page_description ?? , val.price, val.id, val.currency,
            // val.image_groups[0] ve [1] = large, [2] ve [3] = medium, ...
            // val.image_groups[0].alt, val.image_groups[0].link, val.image_groups[0].title, val.short_description 