extends layout 

block content
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                a(href='/') Home
            li.breadcrumb-item
                a(href='/categories') Categories
            li.breadcrumb-item
                a(href='/categories/parent/' + secondBreadcrumbId) #{secondBreadcrumbId}                     
            li.breadcrumb-item
                a(href='/products/product_search?id=' + breadcrumbId) #{breadcrumbId}  
            li.breadcrumb-item.active(aria-current='page') #{productId}  
    ul(style='list-style-type:none')
        .container.row
            .col-9
                h3= products[0].image_groups[0].images[0].title
            .col-5
                img(src='../../images/' + products[0].image_groups[0].images[0].link)
            .col-6
                p= products[0].long_description
                form(action='/cart/addItem' method='post')
                    button(type='submit' name='productId' value=arrayForCart) Buy now
                form(action='/wishlist/addItem' method='post')
                    button(type='submit' name='productId' value=arrayForCart) Wishlist                   
                if products[0].currency == 'USD'
                    p Price: $ #{products[0].price}